@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Ropa+Sans|Istok+Web');

* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

 body {
     font-family: "Istok Web", sans-serif;
   background-image: url(https://scitechdaily.com/images/Hubble-observations-of-M-106.jpg);
   background-position: center;
}

img {
  float: left;
  margin-right: 50px;
  max-width: 30px;
  max-height: 30px;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  background-color: #82B3AE;
  margin-left: 10%;
  margin-right: 10%;
  height: 100vh;
  color: #2A363B;
}

.question {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #ECEEEF;
  color: #2A363B;
  text-align: left;
  padding-left: 5px;
  max-width: 250px;

}
